.dark-mode body {
    background-color: #000000;
    color: #f0f0f0;
}

.dark-mode h1 {
    color: #eee;
}

.dark-mode h2 {
    color: #eee;
}

.dark-mode .timer {
    color: #eee;
}

.dark-mode .start-container {
    background-color: rgb(0, 0, 123);
}