@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --container: #a7d7e2;
    --backgroud: #e3c7e7;
    --resposta-certa: #a1daac;
    --resposta-errada: #f09999d8;
    --botao-iniciar: #e3c7e7;
    --background-tabela-th: rgb(55, 60, 86);
    --background-tabela-td: rgb(161, 157, 218);
}

body.dark-mode {
    --cor-primaria: #ffffff;
    --cor-secundaria: #161616c4;
    --container: #4a388f;
    --backgroud: #000000;
    --resposta-certa: #56ec74;
    --resposta-errada: #e26363d8;
    --botao-iniciar: #000000;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--backgroud);
    background-size: 100% 100%;
    color: var(--cor-primaria);
    min-height: 100vh;
}

header {
    color: var(--cor-primaria);
    padding-top: 10px;
}

.timer {
    display: flex;
    font-size: 18px;
    color: var(--cor-primaria);
    justify-content: center;
}

.start-container {
    display: flex;
    flex-direction: column;
    max-width: 38vw;
    margin: 0 auto;
    margin-top: 40px;
    background: var(--container);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    gap: 40px;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.init-form {
    padding: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 6px;
    width: 60%;
}

select {
    padding: 6px;
    width: 60%;
}

.tituloInicial {
    padding: 40px;
    font-size: 45px;
}

p {
    padding-top: 2px;
    font-size: 20px;
}

label {
    font-size: 14px;
}

#btn-iniciar {
    background-color: var(--botao-iniciar);
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-shadow: none;
    align-self: center;
}

.btn-finalizar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btnGeral {
    background-color: var(--botao-iniciar);
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-shadow: none;
    align-self: flex-end;
    justify-content: end;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    right: 20px;
}

.btn-musica {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-musica-off {
    position: absolute;
    top: 50%;
    left: 0;
}

#icones {
    position: fixed;
    bottom: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    width: 40px;
}

#icones button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}

#icones button:hover {
    background-color: white;
    scale: 1.2;
}

main{
    justify-content: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body .perguntas{ 
    background-color: var(--container);
    color: var(--black);
    width: 70%;
    display: flex; 
    flex-direction: column; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
}

.temas-questoes {
    display: none;
}

.titulo-tema {
    display: none;
}

.btn-finalizar {
    display: none;
}

#btnreiniciar {
    display: none;
}

#btnconcluir {
    display: none;
}

.resultados {
    display: none;
}


.media {
    display: none;

}

.container-temas {
    display: none;
}

#timer {
    font-size: 24px;
    display: none;
    justify-content: center;
    align-items: center;
}

.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;

}

.titulo-tema {
    margin-bottom: 80px;
}

.perguntas-container {
    margin-bottom: 8px;
    border-radius: 12px;
    padding: 8px;
}

.lista-organizacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.separate {
    margin: 4px;
    display: flex;
    gap: 2px;
}

.container-resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    padding-bottom: 16px;
}

.resultados {
    justify-content: center;
    display: none;
}

#results_Usuario {
    width: 90%;
    height: 100%;
    align-self: center;
    justify-self: center;
    margin: 0 !important;
}

#results_Usuario tr {
    background-color: var(--background-tabela-td);
    border: 4px;
    padding: 300px;
}

#results_Usuario td {
    text-align: center;
    font-size: 16px;
    padding: 0 6px;
    overflow-wrap: break-word;
    width: 200px;
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: center;
}

#results_Usuario th {
    padding: 10px;
    text-align: center;
    background-color: var(--background-tabela-th);
    color: white;
}

#media-acertos {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

#media-erros {
    font-size: 20px;
    font-weight: bold;
}

.container-temas {
    gap: 12px;
    display: none;
    margin-bottom: 40px;
}

.tema1, .tema2, .tema3 {
    border: 1px solid #ccc;
    flex: 2;
    width: 260px;
    min-height: 260px;
    background-color: none;
    border-radius: solid 1px;
    border: 2px solid rgb(56, 53, 54);
    box-shadow: rgba(247, 239, 239, 0.3) 0px 19px 38px, rgba(250, 244, 244, 0.22) 0px 15px 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tema1 h2,
.tema2 h2,
.tema3 h2 {
    font-size: 40px;
}

#html h2,
#css h2,
#javascript h2 {
    font-size: 8px;
}

.ranking {
    counter-reset: posicao;
}

.e-title {
    font-size: 14px;
    text-align: left;
}

ul {
    list-style: none;
}

.media {
    display: none;
    gap:40px;
}

.container-temas {
    gap: 12px;
    display: none;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

