:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: radial-gradient(circle at -19.64% 62.28%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
    background-size: 100% 100%;
    color: var(--cor-primaria);
}

header {
    color: var(--cor-primaria);
    font-size: 25px;
}

.timer {
    display: flex;
    font-size: 18px;
    color: var(--cor-primaria);
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    font-size: 12px;
}

h1 {
    margin-top: 0;
}

#audio-toggle {
    display: none;
}

#theme-toggle {
    text-align: right;
    margin-bottom: 10px;
}

label {
    margin-right: 5px;
}

input[type="text"],
button {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 150px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.theme-option {
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
}

#quiz h2 {
    margin-top: 0;
}

#question-container {
    text-align: left;
}

.question {
    margin: 10px 0;
}

#results h2,
#results h3 {
    margin-bottom: 5px;
}

#score-table-container {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#insights-container {
    text-align: left;
    margin-top: 10px;
}

#insights-container p {
    margin: 5px 0;
}

#mudar-cor {
    color: black;
    border: none;
}

#audio-toggle {
    margin-top: 20px;
}



















.temas-questoes {
    display: none;
}

.titulo-tema {
    display: none;
}

.btn-finalizar {
    display: none;
}

#btnreiniciar {
    display: none;
}

#btnconcluir {
    display: none;
}

.resultados {
    display: none;
}

.media {
    display: none;
}