.temas-questoes {
    display: none;
}

.titulo-tema {
    display: none;
}

.btn-finalizar {
    display: none;
}

#btnreiniciar {
    display: none;
}

#btnconcluir {
    display: none;
}

.resultados {
    display: none;
}

.media {
    display: none;
}

h1 {
    color: red;
}